.navbar-default {
	background-color: #ffffff;
	border-color: #e8ffff;
}
.navbar-default .navbar-brand {
	color: #049ddf;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #049ddf;
}
.navbar-default .navbar-text {
	color: #049ddf;
}
.navbar-default .navbar-nav > li > a {
	color: #049ddf;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #049ddf;	
	background-color: #e8ffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #049ddf;
	background-color: #e8ffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #049ddf;
	background-color: #e8ffff;
}
.navbar-default .navbar-toggle {
	border-color: #e8ffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #e8ffff;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #049ddf;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #049ddf;
}
.navbar-default .navbar-link {
	color: #049ddf;
}
.navbar-default .navbar-link:hover {
	color: #049ddf;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #049ddf;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #049ddf;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #049ddf;
		background-color: #e8ffff;
	}
}

.container-fluid-banner {
	margin-top: -10px;
	background-color: #049ddf;
}

.banner {	
	line-height: 60px;
	color: #ffffff;
	font-size: 25px;
	padding-left: 15%;
}



.modal.custom {
    outline:none;
    margin-top: 10%;
    left: 30%;
    
}

.modal.custom .modal-dialog {
    width:50%;
    margin:0 auto;
}

.filter_title {
	font-size: 20px;	
}

.fixed {
	position: fixed;
}

.search_filter {
	position: fixed;
}

.hospital {
	margin-left: 8px;
}

.date_from {
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: -10px;
}

.date {
	margin-left: 5px;
	margin-bottom: -10px;
}

.dateto {
	margin-left: -36px;
}

.dropmenu {
	text-align: center;
}

.t {
	margin-left: 3%;
	margin-right: 3%;
}

.m {
	margin-left: 3%;
	margin-right: 3%;
}

.p {
	margin-left: 3%;
	margin-right: 3%;
}

.search {
	margin-left: 2%;
	float: left;
}

.search_in_result {
	margin-left: 6px;	
}

.clear {
	margin-left: 8px;
}

.categoryM {
	margin-left: -16%;
	/*margin-left: -150px;*/
}

.categoryB {
	margin-top: 3%;
	text-align: center;
}

.list_title {
	font-size: 20px;
	margin-top: -2%;
}

.pathology_resultM {
	margin-left: -10%;
}

.library_buttons {
	margin-top: 32%
}

.library_buttons2 {
	margin-left: -26%;
}

.pathology_result_title {
	font-size: 20px;	
}

.search_filter_window {
	margin-right: -10%
}

.from_label {
	margin-left: -4%;
}

.from_date {
	margin-left: -1%;
}

.to_label {
	margin-left: 31%;
}

.to_date {
	margin-left: -9%;
}

.category_title {
	font-size: 20px;
}

.toolbar_position {
	margin-left: 43%;
	margin-top: -3%;
}

.btnEMR {
	margin-left: 3%;
}

.btnPACS {
	margin-left: 3%;
}

.table-scrollable {
	overflow-x: scroll;
}

.listcontainer {
	overflow: auto;
	overflow-x: scroll;
	/*width: 100%;*/
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
}

.table-responsive>.table { 
    margin-bottom: 0;
}

.table-responsive>.table>thead>tr>th, 
.table-responsive>.table>tbody>tr>th, 
.table-responsive>.table>tfoot>tr>th, 
.table-responsive>.table>thead>tr>td, 
.table-responsive>.table>tbody>tr>td, 
.table-responsive>.table>tfoot>tr>td {
    white-space: nowrap;
}

.btn_pa {
	margin-left: 2%;
}

